---
import { Image } from "astro:assets";
import farm from "../assets/farm.jpeg"
import Button from "./Button.astro";
const {title} =  Astro.props;

---
<section class="hero-gradient background-image:url('/src/assets/farm.jpeg') bg-cover bg-center relative overflow-hidden h-[500px] flex items-center"> 
  <Image
    src= {farm}
    alt="Hero Background"
    class="absolute object-cover w-full h-full"
    loading="eager"/>
	<div class="relative w-3/5 z-10 ml-8 max-w-6xl h-3/4 bg-black/10 p-8 shadow-md backdrop-blur-xs rounded-xl shadow-lg">  
			<h1 class="text-4xl text-b1 md:text-4xl font-bold leading-tight mb-4">POWERFUL ACTION FOR THE DEVELOPMENT OF THE KADEY (PADK)</h1>  
      <!--Sub-header -->
      <!-- <h2 class="text-white text-xl font-extrabold"> Combining soil health principles, local knowledge, & a thriving regenerative agricultural community </h2> -->  
      <!--Button -->
      <Button text="JOIN US" href="/about-us"/>

      </div>
        </div>

        <!-- Hero image column -->
        <div class="flex items-center justify-center">
          <!-- Replace src with actual image from padk.org if you want exact match -->
          
        </div>
      </div>
    </div>
  </section>
  

  
