---
import { Image } from "astro:assets";
import "../styles/global.css";
import farm from "../assets/farm.jpeg"

const {title} =  Astro.props;

---
<section class="hero-gradient background-image:url('/src/assets/farm.jpeg') bg-cover bg-center relative overflow-hidden h-[500px] flex items-center"> 
  <Image
    src= {farm}
    alt="Hero Background"
    class="absolute object-cover w-full h-full"
    loading="eager"/>
	<div class="max-w-6xl mx-auto bg-black/20 p-8 shadow-md backdrop-blur-sm rounded-xl shadow-lg relative w-3/5 z-10">
  
			<h1 class="text-3xl text-white md:text-4xl font-bold leading-tight mb-4">{title}</h1>
      <h2 class="text-white text-xl font-extrabold"> Combining soil health principles, local knowledge, & a thriving regenerative agricultural community </h2>
          </div>
        </div>

        <!-- Hero image column -->
        <div class="flex items-center justify-center">
          <!-- Replace src with actual image from padk.org if you want exact match -->
          
        </div>
      </div>
    </div>
  </section>
  

  
