---
import { Image } from "astro:assets";
import Button from "./Button.astro";
const {heroTitle, heroImage} =  Astro.props;
---
<section class="hero-gradient background-image:url('/src/assets/farm.jpeg') bg-cover bg-center relative overflow-hidden h-[500px] flex items-center"> 
  <Image src= {heroImage} alt="Hero Background" class="absolute object-cover w-full h-full" loading="eager"/>
  <div class="absolute z-10 max-w-2xl top-1/4 left-1/10 mx-auto">
    <h1 class="text-4xl text-b1 font-bold">{heroTitle}</h1>  
  </div>
  </section>
  

  
