<section class="bg-white my-12"> 
<div class="max-w-6xl mx-auto">
  <div class="flex justify-center  ">
  <script async data-uid="f9f7e17be1" src="https://tarts.kit.com/f9f7e17be1/index.js"></script>
</div></div>
</section> 
